$shadow-color: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;
$white-color: #fff;

.product-card {
    box-shadow: $shadow-color;
    width: 31%;
    height: 100%;
    //   min-width: 10rem;
    background-color: $white-color;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    & a {
      text-align: center;
      text-decoration: none;
      background-color: $white-color;
      padding: 0rem 0rem 0.5rem 0rem;
      font-size: 18px;
    }
    .product-card-details {
        .title{

        }
        .mrp{

        }
        .price{

        }
        .discount{
            
        }
    }
  }