.title {
    /* padding: 0.5rem 01rem; */
    font-family: 'Comic Sans MS';
    color: #3bb9ae !important;
    margin: auto !important;
}

.navbar-bg {
    border-color: #fff;
    background-color: #fff;
    box-shadow: 0px 0px 20px #ccc;
    padding: 0.5rem 0.5rem !important;
}

.list-item {
    border-bottom: 1px solid rgb(233, 237, 239);
    position: relative;
    display: flex;
    flex-direction: row;
    height: 96px;
    /* padding: 0.5rem 0.25rem; */
    /* pointer-events: all; */
}

.item-info {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
}

.item-info-title {}

.item-info-subtitle {
    font-size: 13px;
    color: rgb(102, 119, 129);
}

.item-buttons {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    align-self: center;
    height: 100%;
    margin-right: 0.5rem;
}

.list-img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 0.5rem;
    cursor: pointer;
    vertical-align: initial;
    display: flex;
    margin: 8px 10px;
}

.header-img {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.header-icon-bar {
    text-align: center;
    background-color: #3bb9ae;
    color: #fff;
    padding: 0.125rem;
}

.header-icon-bar .bi {
    color: #fff;
    margin: 0rem 0.25rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.edit {
    color: black;
}

.delete {
    color: black;
}

.footer-btn {
    padding: 0rem 0rem !important;
}

.footer-btn .btn {
    background-color: #3bb9ae;
    border: none;
    width: 100%;
    height: 2.75rem;
}

.footer-btn .btn:hover {
    background-color: #3bb9ae;
}

i.bi {
    color: #3bb9ae;
}

.admin-login {
    margin: auto;
    margin-top: 40%;
    text-align: center;
    padding: 1rem;
}

.admin-login h4 {
    margin-bottom: 0.5rem;
}

.btn-default {
    background-color: #3bb9ae !important;
    color: #fff !important;
    border: none;
    width: 100%;
    margin: 1rem 0rem;
}

/* page not found */
.page-not-found body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: #E7FFFF;
}

.page-not-found h2,
.page-not-found a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.page-not-found .section {
    padding: 4rem 2rem;
    text-align: center;
}

.page-not-found .section .error {
    font-size: 130px;
    color: #008B62;
    text-shadow:
        1px 1px 1px #00593E,
        2px 2px 1px #00593E,
        3px 3px 1px #00593E,
        4px 4px 1px #00593E,
        5px 5px 1px #00593E,
        6px 6px 1px #00593E,
        7px 7px 1px #00593E,
        8px 8px 1px #00593E,
        25px 25px 8px rgba(0, 0, 0, 0.2);
}

.page {
    margin: 2rem 0;
    font-size: 20px;
    font-weight: 600;
    color: #444;
}

.back-home {
    display: inline-block;
    border: 2px solid #222;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.75rem 1rem 0.6rem;
    transition: all 0.2s linear;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.back-home:hover {
    background: #222;
    color: #ddd;
}

.btn {
    /* float: right;
    margin-left: auto */
}